body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-right ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 48, 66);
    flex-grow: 1;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
    flex-grow: 1;
}

.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}